<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nsw.wx.order.mapper.WeCharOrdeDetailMapper" >
  <resultMap id="BaseResultMap" type="com.nsw.wx.order.pojo.WeCharOrdeDetail" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="UserID" property="userid" jdbcType="INTEGER" />
    <result column="OID" property="oid" jdbcType="VARCHAR" />
    <result column="ProductID" property="productid" jdbcType="INTEGER" />
    <result column="ProductName" property="productname" jdbcType="VARCHAR" />
    <result column="ProductPrice" property="productprice" jdbcType="DECIMAL" />
    <result column="UserPrice" property="userprice" jdbcType="DECIMAL" />
    <result column="Num" property="num" jdbcType="INTEGER" />
    <result column="PriceSum" property="pricesum" jdbcType="DECIMAL" />
    <result column="ShortDesc" property="shortdesc" jdbcType="VARCHAR" />
    <result column="Attribute" property="attribute" jdbcType="VARCHAR" />
    <result column="AttributeKeyValue" property="attributekeyvalue" jdbcType="VARCHAR" />
    <result column="Enable" property="enable" jdbcType="BIT" />
    <result column="InputTime" property="inputtime" jdbcType="TIMESTAMP" />
    <result column="OrderID" property="orderid" jdbcType="INTEGER" />
    <result column="Integral" property="integral" jdbcType="INTEGER" />
    <result column="CartType" property="carttype" jdbcType="VARCHAR" />
    <result column="SkuID" property="skuid" jdbcType="INTEGER" />
    <result column="GroupBuyPrice" property="groupbuyprice" jdbcType="DECIMAL" />
    <result column="OfferType" property="offertype" jdbcType="INTEGER" />
    <result column="Deposit" property="deposit" jdbcType="DECIMAL" />
    <result column="Rent" property="rent" jdbcType="DECIMAL" />
    <result column="Day" property="day" jdbcType="INTEGER" />
    <result column="Status" property="status" jdbcType="INTEGER" />
  </resultMap>

  <update id="updateByPrimaryOid" parameterType="com.nsw.wx.order.pojo.WeCharOrdeDetail">
    update tbWeCharOrdeDetail
    <set>
      <if test="userid != null">
        UserID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="productid != null">
        ProductID = #{productid,jdbcType=INTEGER},
      </if>
      <if test="productname != null">
        ProductName = #{productname,jdbcType=VARCHAR},
      </if>
      <if test="productprice != null">
        ProductPrice = #{productprice,jdbcType=DECIMAL},
      </if>
      <if test="userprice != null">
        UserPrice = #{userprice,jdbcType=DECIMAL},
      </if>
      <if test="num != null">
        Num = #{num,jdbcType=INTEGER},
      </if>
      <if test="pricesum != null">
        PriceSum = #{pricesum,jdbcType=DECIMAL},
      </if>
      <if test="shortdesc != null">
        ShortDesc = #{shortdesc,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null">
        Attribute = #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="attributekeyvalue != null">
        AttributeKeyValue = #{attributekeyvalue,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        Enable = #{enable,jdbcType=BIT},
      </if>
      <if test="inputtime != null">
        InputTime = #{inputtime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderid != null">
        OrderID = #{orderid,jdbcType=INTEGER},
      </if>
      <if test="integral != null">
        Integral = #{integral,jdbcType=INTEGER},
      </if>
      <if test="carttype != null">
        CartType = #{carttype,jdbcType=VARCHAR},
      </if>
      <if test="skuid != null">
        SkuID = #{skuid,jdbcType=INTEGER},
      </if>
      <if test="groupbuyprice != null">
        GroupBuyPrice = #{groupbuyprice,jdbcType=DECIMAL},
      </if>
      <if test="offertype != null">
        OfferType = #{offertype,jdbcType=INTEGER},
      </if>
      <if test="deposit != null">
        Deposit = #{deposit,jdbcType=DECIMAL},
      </if>
      <if test="rent != null">
        Rent = #{rent,jdbcType=DECIMAL},
      </if>
      <if test="day != null">
        Day = #{day,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=INTEGER},
      </if>
    </set>
      where OID = #{oid,jdbcType=INTEGER}
  </update>



  <insert id="insert" parameterType="com.nsw.wx.order.pojo.WeCharOrdeDetail" >
    insert into tbWeCharOrdeDetail ( UserID, OID,
      ProductID, ProductName, ProductPrice, 
      UserPrice, Num, PriceSum, 
      ShortDesc, Attribute, AttributeKeyValue, 
      Enable, InputTime, OrderID, 
      Integral, CartType, SkuID, 
      GroupBuyPrice)
    values (#{userid,jdbcType=INTEGER}, #{oid,jdbcType=VARCHAR},
      #{productid,jdbcType=INTEGER}, #{productname,jdbcType=VARCHAR}, #{productprice,jdbcType=DECIMAL}, 
      #{userprice,jdbcType=DECIMAL}, #{num,jdbcType=INTEGER}, #{pricesum,jdbcType=DECIMAL}, 
      #{shortdesc,jdbcType=VARCHAR}, #{attribute,jdbcType=VARCHAR}, #{attributekeyvalue,jdbcType=VARCHAR}, 
      #{enable,jdbcType=BIT}, #{inputtime,jdbcType=TIMESTAMP}, #{orderid,jdbcType=INTEGER}, 
      #{integral,jdbcType=INTEGER}, #{carttype,jdbcType=VARCHAR}, #{skuid,jdbcType=INTEGER}, 
      #{groupbuyprice,jdbcType=DECIMAL})
  </insert>

  <select id="finaAll" parameterType="com.nsw.wx.order.pojo.WeCharOrdeDetail" resultMap="BaseResultMap">
    select * from tbWeCharOrdeDetail;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbWeCharOrdeDetail
    where OID = #{OID,jdbcType=VARCHAR}
  </delete>

  <select id="selectoid" resultMap="BaseResultMap" parameterType="java.util.List">
    select * from tbWeCharOrdeDetail where OID IN
    <foreach collection="list" index="index" item="orderno" open="(" separator="," close=")">
      #{orderno}
    </foreach>
  </select>


</mapper>